/loctree_rs/target
/.codex
*.pyc
/.fastembed_cache
tarpaulin-report.json
tarpaulin-report.html
*.profraw
loctree_rs/tarpaulin-report.json
/.ai-agents
/.ai-suite
/.loctree
/.benchmarks
/agents
/loctree_rs/logs
